accelerate
av
bitsandbytes
datasets
deepspeed
einops
einops-exts
fastapi
gradio_client
hf_transfer
llava[standalone]
markdown2[all]
monai
nibabel
numpy
open_clip_torch
opencv-python
peft
pydantic
requests
safetensors
scikit-learn
scipy
sentencepiece
timm
tokenizers
torch
torchvision
tqdm
transformers
tyro
urllib3
uvicorn
wandb